python-version = "{{ python_version }}.0"
project-includes = ["."]
project-excludes = ["**/.venv/", "**/node_modules/"]
search-path = ["stubs"]
preset = "all"
check-unannotated-defs = true
strict-callable-subtyping = true
strict-partial-subtyping = true
